build
*.o
*.d
*~
.svn

# /
/config.log
/config.status
/stamp-h1
/config.h
/missing
/Makefile
/install-sh
/Makefile.in
/QtCore4.dll
/QtGui4.dll
/aclocal.m4
/autom4te.cache
/config.h.in
/configure
/qnutconf.exe

# /nut/
/nut/Makevars.arm-gcc

# /nut/crt/
/nut/crt/*.lst
/nut/crt/*.lis
/nut/crt/*.o
/nut/crt/*.s

# /nut/doc/
/nut/doc/Makefile.in
/nut/doc/Makefile

# /nut/doc/en/
/nut/doc/en/latex
/nut/doc/en/html
/nut/doc/en/rtf

# /nut/doc/gen/
/nut/doc/gen/Makefile.in
/nut/doc/gen/doxy.log
/nut/doc/gen/nut_en.cfg
/nut/doc/gen/ref-build.stamp
/nut/doc/gen/Makefile

# /nut/tools/crurom/
/nut/tools/crurom/configure
/nut/tools/crurom/Makefile.in
/nut/tools/crurom/config.log
/nut/tools/crurom/depcomp
/nut/tools/crurom/config.status
/nut/tools/crurom/stamp-h1
/nut/tools/crurom/config.h
/nut/tools/crurom/config.h.in
/nut/tools/crurom/autom4te.cache
/nut/tools/crurom/crurom
/nut/tools/crurom/.deps
/nut/tools/crurom/missing
/nut/tools/crurom/aclocal.m4
/nut/tools/crurom/Makefile
/nut/tools/crurom/install-sh

# /nut/tools/linux/
/nut/tools/linux/Makefile.in
/nut/tools/linux/Makefile

# /nut/tools/nutconf/
/nut/tools/nutconf/m4
/nut/tools/nutconf/configure
/nut/tools/nutconf/Makefile.in
/nut/tools/nutconf/config.log
/nut/tools/nutconf/depcomp
/nut/tools/nutconf/compile
/nut/tools/nutconf/config.guess
/nut/tools/nutconf/config.h
/nut/tools/nutconf/config.sub
/nut/tools/nutconf/ltmain.sh
/nut/tools/nutconf/Makefile
/nut/tools/nutconf/config.status
/nut/tools/nutconf/stamp-h1
/nut/tools/nutconf/config.h.in
/nut/tools/nutconf/libtool
/nut/tools/nutconf/autom4te.cache
/nut/tools/nutconf/missing
/nut/tools/nutconf/aclocal.m4
/nut/tools/nutconf/install-sh

# /nut/tools/nutconf/src/
/nut/tools/nutconf/src/Makefile.in
/nut/tools/nutconf/src/nutconfigure
/nut/tools/nutconf/src/.deps
/nut/tools/nutconf/src/Makefile
/nut/tools/nutconf/src/nutconf

# /nut/tools/nutdisc/
/nut/tools/nutdisc/m4
/nut/tools/nutdisc/configure
/nut/tools/nutdisc/Makefile.in
/nut/tools/nutdisc/config.log
/nut/tools/nutdisc/depcomp
/nut/tools/nutdisc/config.status
/nut/tools/nutdisc/stamp-h1
/nut/tools/nutdisc/config.guess
/nut/tools/nutdisc/config.h
/nut/tools/nutdisc/ltmain.sh
/nut/tools/nutdisc/config.sub
/nut/tools/nutdisc/config.h.in
/nut/tools/nutdisc/autom4te.cache
/nut/tools/nutdisc/libtool
/nut/tools/nutdisc/missing
/nut/tools/nutdisc/aclocal.m4
/nut/tools/nutdisc/Makefile
/nut/tools/nutdisc/install-sh

# /nut/tools/nutdisc/src/
/nut/tools/nutdisc/src/Makefile.in
/nut/tools/nutdisc/src/.deps
/nut/tools/nutdisc/src/Makefile
/nut/tools/nutdisc/src/nutdisc

# /nut/tools/packaging/
/nut/tools/packaging/ethernut.spec

# /nut/tools/qnutconf/
/nut/tools/qnutconf/m4
/nut/tools/qnutconf/configure
/nut/tools/qnutconf/Makefile.in
/nut/tools/qnutconf/config.log
/nut/tools/qnutconf/depcomp
/nut/tools/qnutconf/config.status
/nut/tools/qnutconf/stamp-h1
/nut/tools/qnutconf/config.guess
/nut/tools/qnutconf/config.h
/nut/tools/qnutconf/ltmain.sh
/nut/tools/qnutconf/config.sub
/nut/tools/qnutconf/config.h.in
/nut/tools/qnutconf/autom4te.cache
/nut/tools/qnutconf/libtool
/nut/tools/qnutconf/missing
/nut/tools/qnutconf/Makefile
/nut/tools/qnutconf/aclocal.m4
/nut/tools/qnutconf/install-sh

# /nut/tools/qnutconf/src/
/nut/tools/qnutconf/src/Makefile.in
/nut/tools/qnutconf/src/ui_finddialog.h
/nut/tools/qnutconf/src/qnutconf
/nut/tools/qnutconf/src/moc_settingsdialog.cpp
/nut/tools/qnutconf/src/moc_nutcomponentdetailsmodel.cpp
/nut/tools/qnutconf/src/.deps
/nut/tools/qnutconf/src/Makefile
/nut/tools/qnutconf/src/moc_settings.cpp
/nut/tools/qnutconf/src/moc_nutcomponentmodel.cpp
/nut/tools/qnutconf/src/moc_nutcomponentdelegate.cpp
/nut/tools/qnutconf/src/ui_settingsdialog.h
/nut/tools/qnutconf/src/moc_mainwindow.cpp
/nut/tools/qnutconf/src/moc_finddialog.cpp
/nut/tools/qnutconf/src/qrc_qnutconf.cpp
/nut/tools/qnutconf/src/ui_mainwindow.h
/nut/tools/qnutconf/src/moc_nutcomponentmodelfilterproxy.cpp
/nut/tools/qnutconf/src/moc_builder.cpp

# /nut/tools/qnutdisc/
/nut/tools/qnutdisc/m4
/nut/tools/qnutdisc/configure
/nut/tools/qnutdisc/Makefile.in
/nut/tools/qnutdisc/config.log
/nut/tools/qnutdisc/depcomp
/nut/tools/qnutdisc/config.status
/nut/tools/qnutdisc/stamp-h1
/nut/tools/qnutdisc/config.guess
/nut/tools/qnutdisc/config.h
/nut/tools/qnutdisc/ltmain.sh
/nut/tools/qnutdisc/config.sub
/nut/tools/qnutdisc/config.h.in
/nut/tools/qnutdisc/autom4te.cache
/nut/tools/qnutdisc/libtool
/nut/tools/qnutdisc/missing
/nut/tools/qnutdisc/aclocal.m4
/nut/tools/qnutdisc/Makefile
/nut/tools/qnutdisc/install-sh

# /nut/tools/qnutdisc/src/
/nut/tools/qnutdisc/src/Makefile.in
/nut/tools/qnutdisc/src/qnutdisc
/nut/tools/qnutdisc/src/moc_mainwindow.cpp
/nut/tools/qnutdisc/src/moc_nutenummodel.cpp
/nut/tools/qnutdisc/src/ui_mainwindow.h
/nut/tools/qnutdisc/src/qrc_mainwindow.cpp
/nut/tools/qnutdisc/src/.deps
/nut/tools/qnutdisc/src/Makefile
